
.navbar-brand img{
    width: 200px;
}

.navbar-brand{
    margin-right: 0;
}

.navbar-nav{
    align-items: center;
}

.navbar .navbar-nav .nav-link{
    color: #FFF;
    font-size: 1.1em;
    padding: 0.5em 1em;
}

.navbar .navbar-nav .nav-link:hover{
    background-color: white;
    color: black;
    border-radius: 10%;
}