<figure>
    <img class="imagen-principal" src="assets/img/Copia-de-Banners-8.png" alt="imagen de mate">
</figure>
<h2>Lo más vendido</h2>

<div class="row" >
    <div class="col">
      <div class="card">
        <img class="mx-auto d-block" src="assets/img/yerba_hierbas_serranas_camperito.png" alt="yerba hierbas serranas">
        <div class="card-body">
          <p class="card-text">Yerba Hierbas Serranas Camperito</p>
          <p class="card-text">500gr</p>
        </div>
      </div>
    </div>

    <div class="col">
        <div class="card">
          <img class="mx-auto d-block" src="assets/img/yerba-suave-camperito.png" alt="yerba suave">
          <div class="card-body">
            <p class="card-text">Yerba Suave Camperito</p>
            <p class="card-text">500gr</p>
          </div>
        </div>
    </div>

    <div class="col">
        <div class="card">
          <img class="mx-auto d-block" src="assets/img/yerba-boldoymenta.png" alt="yerba boldo y menta">
          <div class="card-body">
            <p class="card-text">Yerba Boldo y Menta Camperito</p>
            <p class="card-text">500gr</p>
          </div>
        </div>
    </div>

    <div class="col">
        <div class="card">
          <img class="mx-auto d-block" src="assets/img/yerba-mate-con-naranja.png" alt="yerba naranja">
          <div class="card-body">
            <p class="card-text">Yerba Sabor Naranja Camperito</p>
            <p class="card-text">500gr</p>
          </div>
        </div>
    </div>
</div> 